/*             General          */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 320px;
  padding: 0 15;
  margin: 0 auto;
}

.social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.soc-item {
  width: 40px;
  height: 40px;
}

.soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover {
  background-color: #404bbf;
}

.soc-link:focus {
  background-color: #404bbf;
}

.soc-icon {
  fill: #f4f4fd;
}

.phone {
  gap: 40px;
}

/*             General          */

/*       Mobile   Header              */

.navigation,
.address {
  display: none;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

span {
  color: #2e2f42;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    stroke: #2f2f37;
    line-height: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  /* ------------   Mobile menu -------------------- */
  .mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 250ms linear;
  }

  .mob-menu.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    stroke: #2e2f42;
    line-height: 0;
    position: absolute;
    top: 24px;
    right: 15px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    line-height: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    border: none;
    background-color: #404bbf;
    fill: #ffffff;
  }

  .mob-menu-container {
    position: relative;
  }

  .mob-menu-navigation {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 72px 153px 168px 16px;
  }

  .mob-menu-navigation .link {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mob-menu-navigation .link:hover {
    color: #404bbf;
  }

  .mob-menu-navigation .link:focus {
    color: #404bbf;
  }

  .mob-address-links {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 111px 48px 16px;
  }

  .mob-address-links .link {
    font-style: normal;
    color: #434455;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mob-address-links .link:hover {
    color: #404bbf;
  }

  .mob-address-links .link:focus {
    color: #404bbf;
  }
}

/*       Tablet   Header              */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .mobile-menu-open-btn {
    display: none;
  }

  .mob-menu {
    display: none;
  }

  .navigation {
    display: flex;
    gap: 40px;
    margin: 24px 120px;
  }

  .guid {
    display: flex;
  }

  .logo {
    margin-top: 24px;
  }

  .navigation .link {
    color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation .link:hover {
    color: #404bbf;
  }

  .navigation .link:focus {
    color: #404bbf;
  }

  .navigation .link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .address {
    display: flex;
    font-style: normal;
    gap: 12px;
  }

  .address-links .link {
    font-style: normal;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-links .link:hover {
    color: #404bbf;
  }

  .address-links .link:focus {
    color: #404bbf;
  }
}

/*       Deckstop  Header              */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .address-links {
    display: flex;
    gap: 40px;
    margin-left: 332px;
  }

  .navigation {
    margin-left: 76px;
    margin-right: 0;
  }
}

/*------------------Section 1 -------------------------*/

.main-header {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/background/Dark-bg-mobile.jpg");
  max-width: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 72px 16px;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .main-header {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/background/Dark-bg-mobile@2x.jpg");
  }
}

/*-------------- Tablet ------------*/

@media screen and (min-width: 768px) {
  .main-header {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/background/Dark-bg-tabl.jpg");
    padding: 112px 136px;
    max-width: 768px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .main-header {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/background/Dark-bg-tabl@2x.jpg");
  }
}

/*------  Desktop ------*/

@media screen and (min-width: 1158px) {
  .main-header {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/background/people-office.jpg");
    max-width: 1440px;
    padding: 188px 0;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .main-header {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/background/people-office@2x.jpg");
  }
}

/*------------------Section 1----------*/
.buy {
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buy:hover,
:focus {
  background-color: #404bbf;
}

.page-name {
  max-width: 169px;
  margin: 0 auto 72px auto;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .page-name {
    max-width: 496px;
    margin: 0 auto 36px auto;
  }

  h1 {
    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1158px) {
  .page-name {
    max-width: 496px;
    margin: 0 auto;
  }

  .buy {
    margin: 48px auto auto;
  }
}

/*----------------------- Section 2 --------------------*/
.about-us {
  padding: 96px 0;
}

.act-icon {
  display: none;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-width: 288px;
}

.our-act {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.our-act-descr {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .about {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about-item {
    align-items: flex-start;
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .about-us {
    padding: 120px 0;
  }

  .about {
    gap: 24px;
  }

  .about-item {
    width: calc((100% - 72px) / 4);
  }

  .our-act {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .act-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
  }
}

/*--------------------Section 3 -------------------*/

.team-cont {
  width: 296px;
}

.team {
  background-color: #f4f4fd;
  padding: 96px 28px;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}

.member {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: 264px;
}

.full-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.profile {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .team-cont {
    width: 584px;
  }

  .member {
    width: calc((100%-24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }

  .team-cont {
    width: 1128px;
  }

  .member {
    width: calc((100% - 72px) / 4);
  }
}

/* ------------------------------ Section 4 ---------------------------------------*/

.port {
  padding: 96px 0;
}

.list-port {
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
}

.list-image {
  position: relative;
  overflow: hidden;
}

.apps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

 .list-item {
   width: calc((100% - 48px) / 3);
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .list-item:hover {
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
     0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
 }

 .app-descr {
   position: absolute;
   top: 0;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #f4f4fd;
   padding: 40px 32px;
   background-color: #4d5ae5;
   height: 100%;
   width: 100%;
   transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .list-item:hover .app-descr {
   transform: translateY(0%);
 }

@media screen and (min-width: 768px) {
  .list-port {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .list-item {
    width: calc((100% - 24px) / 2);
  }
}


/* ------------------------ Footer -------------------- */

footer {
  background-color: #2e2f42;
  color: #fff;
  padding: 98px 0;
}

.end-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 72px;
}

.logo-bot {
  color: #f4f4fd;
}

.logo-par {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-b {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}

.agitation {
  line-height: 1.5;
  font-size: 16px;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
  font-weight: 400;
  text-align: left;
}

.soc-ending {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.media {
  gap: 16px;
}

.subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.end-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.link-foot:hover,
.link-foot:focus {
  background-color: #31d0aa;
}

.submit-btn {
  background-color: #4d5ae5;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}
.submit-icon {
  margin-left: 16px;
  fill: #fff;
}

.email-inp {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .end-flex {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    row-gap: 72px;
    gap: 24px;
    padding-left: 108px;
  }

  .logo-par {
    align-items: start;
  }

  .end-form {
    flex-direction: row;
    align-items: start;
    gap: 24px;
  }

  .email-inp {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  footer {
    padding: 100px 0;
  }

  .end-flex {
    padding-left: 0;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 0;
  }

  .logo-par {
    margin-right: 120px;
  }

  .sub-form {
    margin-left: 80px;
  }

  .end-form {
    gap: 24px;
  }
}

/* ----------------------         Backdrop     ----------------- */

.backdrop {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
  background-color: #e7e9fc;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  line-height: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  stroke: #2e2f42;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}

.m-c-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.backdrop-form {
  margin-bottom: 8px;
}

.backdrop-form-last {
  margin-bottom: 16px;
}

.bcd-f-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.user-inf {
  position: relative;
}

.user-inf-field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-inf-field:focus {
  border-color: #4d5ae5;
}

.modal-info-icon {
  position: absolute;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 16px;
  top: 50%;
}

.user-inf-field:focus + .modal-info-icon {
  fill: #4d5ae5;
}

.comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
  border-color: #4d5ae5;
}

/*                        Privacy Policy                       */

.priv-policy {
  margin-bottom: 24px;
}

.privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.ok-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.privacy-check:checked+.privacy-label .ok-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.priv-policy-link {
  color: #4d5ae5;
}

.modal-send-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 24px auto 0;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

@media screen and (min-width: 1158px) {
}
